@import "tailwindcss";

@theme {
    --color-primary: #806621;
    --color-secondary: #15c70c;
    --color-grey: #e5e5e4;
    --color-grey-light: #e5e5e4;
    --color-border: #c8c8c1;
    --color-icon: #62625b;
    --color-background-secondary: #e5e5e0;
    --color-background-hover: #f6f6f3;
    --color-text-light: #62625b;
    --color-text-default: #000;
    --color-border: #c8c8c1;
    --color-background-active: #efefeb;
    --color-red: #dd0e0e;

    /* GREY COLORS BUTTONS*/
    --color-grey-main: #e5e5e0;
    --color-grey-hover: #dadad3;
    --color-grey-active: #cecec5;


    /* RED COLORS BUTTONS*/
    --color-red-main: #E60023;
    --color-red-hover: #cc001f;
    --color-red-active: #b2001b;
    
    --spacing-px: 10px;
    --spacing-30: 30px;
    --spacing-50: 50px;

}

.shadow {
  box-shadow:
    0 1px 3px rgba(15, 23, 42, 0.08),
    0 8px 24px rgba(15, 23, 42, 0.12);
}

input,
button,
textarea,
select, input::placeholder {
    font-family: var(--font-roboto);
}

.no-drag{
    -webkit-user-drag: none;
    user-drag: none;
}

.no-select{
    user-select: none;
}

input{
    outline: none;
    border: none;
}

.scrollBar{
    scrollbar-width: thin;
    scrollbar-color: #393b3b transparent;

    &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #393b3b;
        border-radius: 4px;

        border-top: 2px solid black;
        border-bottom: 2px solid black;

        box-sizing: border-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}