@import "tailwindcss";

@theme {
    --color-primary: #806621;
    --color-secondary: #15c70c;
    --color-grey: #e5e5e4;
    --color-grey-light: #e5e5e4;
    --color-border: #c8c8c1;
    --color-icon: #62625b;
    
    --spacing-px: 10px;
    --spacing-30: 30px;
    --spacing-50: 50px;
}

input,
button,
textarea,
select, input::placeholder {
    font-family: var(--font-roboto);
}

.no-drag{
    -webkit-user-drag: none;
    user-drag: none;
}

.no-select{
    user-select: none;
}